html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
}

#terminal {
    height: 400px;
    width: 80%;
    margin: auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #FFF;
    background-color: #000;
    border: 2px solid #0F0;
    overflow-y: hidden; /* hide vertical scrollbar */
}

#terminal::-webkit-scrollbar {
    display: none; /* hide scrollbar in webkit-based browsers */
}

#input {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-bottom: 2px solid #0F0;
    outline: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input::placeholder {
    color: #888;
}